.container {
      display:flex ;
      justify-content: space-between;
      gap: 3rem;
      margin-bottom: 5rem;
}

.productsContainer {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
}