:root {
  font-family: "vazir", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --color-secondary: #ffa07a; */
  --color-secondary: #add8e6;
  /* --color-secondary: #55a3f0; */
  /* --color-secondary: #4682b4; */
  /* --color-accent: #ffc67d;  */
  --color-accent: #4682b4;
  --color-background: #f9fafc;
  --color-neuter: #a9a9a9;
  --color-bg: #f7f8f8;
  --color-border: #e4e4e4;
  --color-light: #fff;
  --color-text: #282828;
  --color-bg-button: #55a3f0;
  /* --color-bg-button: #4682b4; */
  /* --color-bg-button: #add8e6; */
  --color-placeholder: rgba(40, 40, 40, 0.4);
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}
html {
  font-size: 62.5%;
}

a {
  text-decoration: inherit;
}

body {
  margin: auto;
  max-width: 140rem;
  min-height: 100vh;
  position: relative;
  background-color: var(--color-bg);
  text-align: right; /* Aligns text to the right */
}

button,
input,
select {
  font-family: inherit;
}

button {
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}



